<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/islemler.css">
    <title>ÖĞRENCİ İŞLEMLERİ</title>
</head>
<body action="/ogrenci_isleri" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" style=" position:absolute; top:20px; left:0px; font-size:20pt; font-weight:bold;">ÖĞRENCİ İŞLEMLERİ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a  style=" position:absolute; top:20px; left:300px; font-size:20pt; font-weight:bold; " class="nav-link active"  aria-current="page" href="/anasayfa">ANASAYFA</a>
        </li>
      <form class="d-flex">
        <input   style=" position:absolute; top:35px; left:800px;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button  style=" position:absolute; top:35px; right:0px; " class="btn btn-outline-success" type="submit" >ARAMA YAPMAK İÇİN YAZINIZ</button>
      </form>
            </li>
      </ul>
    </div>
  </div>
</nav>
 <a style="position:absolute; top:150px; left:555px; width:150px; height:150px;padding:45px 15px;" type="button"
    class="btn btn-info"  href="/ogrenci_basari">ÖĞRENCİ BAŞARI DURUMLARI</a>
 <a style="position:absolute; top:150px; left:850px; width:150px; height:150px;padding:50px 15px;" type="button"
    class="btn btn-danger" href="/ders">DERS EKLE/BIRAK</a>
 <a style="position:absolute; top:355px; left:555px; width:150px; height:150px;padding:50px 15px;" type="button"
    class="btn btn-warning" href="/ogretmen">ÖĞRETİM ÜYELERİ</a>
 <a style="position:absolute; top:355px; left:850px; width:150px; height:150px;padding:50px 15px;" type="button"
    class="btn btn-primary" href="/akademiktakvim">AKADEMİK TAKVİM</a>
 <a style="position:absolute; top:560px; left:555px; width:450px; height:100px;padding:40px 15px;" type="button"
    class="btn btn-success" href="/ogrenci_ders">DÖNEMLERE GÖRE ALINABİLECEK DERSLER LİSTESİ</a>
</body>
</html>